<!DOCTYPE html>
<html>
<head>
  <title>About Mo's Movie Hut</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>About the Movie App</h1>
  <%- include('partials/navbar') %>
  <p>This app allows users to browse, search, and save their favorite movies.</p>
</body>
</html>
