body {
    font-family: 'Rasa', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(62, 38, 37);
    color: #d6ad94;
    text-align: center;
    zoom: 1.5;
  }
  
  h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #d6ad94;
  }
  
  a {
    text-decoration: none;
    color: #485157;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  nav {
    font-family: 'Rasa', Arial, sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: transparent; 
    padding: 0;
}
  
  nav ul {
    list-style: none;
    display: flex; 
    margin: 0; 
    padding: 0; 
  }
  
  nav ul li {
    margin: 0; 
  }
  
nav ul li a {
    text-decoration: none; 
    color: white; 
    font-weight: bold; 
    padding: 10px; 
    border-radius: 0; 
}
  
  nav ul li a:hover {
    color: #eceaea; 
  }
  
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar a {
    color: white;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: #ff8f8f;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
  }
  
  form input {
    width: 35%;
    padding: 5px;
    font-size: 11px;
    border: 1px solid #ccc;
    border-radius: 2px;
  }
  
  form button {
    background-color: #b76a6a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 11px;
  }
  
  form button:hover {
    background-color: #ff8f8f;
  }
  
  .logout-container {
    text-align: center;
    margin: 20px 0;
  }
  
  .logout-container form button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .logout-container form button:hover {
    background-color: #c0392b;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
    margin-top: 20px;
  }
  
  footer a {
    color: #ff8f8f;
  }
  
  footer a:hover {
    color: #ffffff;
  }  

  ul {
    list-style-position: inside; 
    text-align: center; 
    margin: 0 auto; 
    padding: 15px;
  }
  
  li {
    text-align: center; 
    width: auto; 
  }